/* Start Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --card-radius: 12px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: black;
}
ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Devices */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Devices */
@media (min-width: 992px) {
  .container {
    width: calc(100% - 30px);
  }
}

/* Large Devices */
@media (min-width: 1200px) {
  .container {
    width: calc(100% - 30px);
  }
}

/* End Global Rules */

/* Start Elements */
#join-button {
  background-color: transparent;
  color: var(--text-main-color);
  border: 1px solid var(--main-color);
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.3s;
}

#join-button:hover {
  background: var(--main-color);
  color: white;
}
/* End Elements */

/* Start Header */
header {
  padding: 20px 35px;
  /* background: #19191f; */
  top: 0;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  scroll-snap-align: none;

  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

header .logo img {
  width: 150px;
}

header .actions {
  display: flex;
  gap: 15px;
}

header .logo-nav {
  display: flex;
  align-items: center;
}

header .links {
  color: white;
}

header .logo-nav .links ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

header .links ul li a {
  color: rgb(179, 179, 179);
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
  transition: 0.3s;
}

header .links ul li a:hover {
  color: white;
}
header .links ul li:nth-child(1) a {
  color: white;
  position: relative;
}
header .links ul li:nth-child(1) a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #3f82ff;
  bottom: -15px;
}

header .user {
  position: relative;
  cursor: pointer;
}

header .user img {
  width: 50px;
}

header .user .user-action {
  position: absolute;
  top: 130%;
  right: 0;
  color: #b1b1b1;
  background-color: #2e323a;
  border-radius: 8px;
  z-index: 1000;
  display: none;
  box-shadow: -4px 7px 20px 0px #2e323a;
  /* overflow: hidden; */
}

header .user .user-action i {
  color: white;
}

header .user .user-action::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid #2e323a;
  border-color: transparent transparent #2e323a transparent;
  overflow: visible;
  top: -9%;
  right: 15px;
}

header .user .user-action ul li {
  padding: 16px 26px;
  transition: 0.3s;
  min-width: 200px;
  cursor: pointer;
}

header .user .user-action ul li:hover {
  padding-left: 30px;
  background-color: #3a3f48;
}

header .user .user-action ul li i {
  padding-right: 12px;
}

header .user .user-action ul li a {
  color: var(--text-main-color);
}

@media (max-width: 767px) {
  header {
    height: 70px;
    padding: 8px 18px;
  }

  header .logo img {
    width: 100px;
  }
}

/* End Header */

/* Start Content */

/* Start Left Side */
.page-content .container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 24px;
}
.page-content .container .left-side {
  flex-basis: 55%;
  max-width: 55%;
}

.left-side .welcome {
  background-color: #19191f;
  padding: 24px;
  border-radius: var(--card-radius);
  border: 1px solid #393d47;
}
.left-side .welcome h1 {
  color: white;
  margin: 0;
  font-weight: 500;
}
.left-side .welcome p {
  color: #b1b1b1;
  margin-top: 12px;
  line-height: 1.4;
  font-size: 20px;
  width: 60%;
}
.left-side .welcome button {
  background-color: #407bff;
  color: white;
  border: none;
  padding: 12px 24px;
  margin-top: 24px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.5px;
  transition: 0.3s;
}

.left-side .welcome button:hover {
  background-color: #6897ff;
}
.left-side .my-rooms {
  background-color: #19191f;
  padding: 24px;
  border-radius: var(--card-radius);
  margin-top: 24px;
  border: 1px solid #393d47;
}
.left-side .my-rooms h1 {
  color: white;
  margin: 0;
  font-weight: 500;
}

.left-side .my-rooms .rooms-grid {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
}

@media (max-width: 900px) {
  .left-side .my-rooms .rooms-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.left-side .my-rooms .rooms-grid .room-card {
  padding: 24px;
  border: 1px solid #393d47;
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  min-width: 200px;
  height: 100%;
}

.left-side .my-rooms .rooms-grid .room-card img {
  width: 100%;
  height: 120px;
  border-radius: var(--card-radius);
}
.left-side .my-rooms .rooms-grid .room-card h2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  color: white;
  margin: 0;
  padding-top: 8px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}
.left-side .my-rooms .rooms-grid .room-card p {
  color: #b1b1b1;
  margin-top: auto;
  padding: 12px 0;
}
.left-side .my-rooms .rooms-grid .room-card button {
  background-color: #407bff;
  color: white;
  border: none;
  padding: 12px 0;
  margin-top: auto;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.5px;
  transition: 0.3s;
}
.left-side .my-rooms .rooms-grid .room-card button:hover {
  background-color: #6897ff;
}
/* End Left Side */

/* Start Right Side */
.page-content .container .right-side {
  flex-basis: 45%;
  max-width: 45%;
}

.container .right-side .actions {
  background-color: #19191f;
  padding: 24px;
  border-radius: var(--card-radius);
  border: 1px solid #393d47;
}
.container .right-side .actions h1 {
  color: white;
}
.container .right-side .actions-grid {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

@media (max-width: 900px) {
  .container .right-side .actions-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.container .right-side .actions-grid .action {
  padding: 24px;
  border: 1px solid #393d47;
  border-radius: var(--card-radius);
}
.container .right-side .actions-grid .action .icon {
  background-color: #282c34;
  display: inline-block;
  border-radius: 8px;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.container .right-side .actions-grid .action h2 {
  color: white;
  margin-top: 16px;
}
.container .right-side .actions-grid .action p {
  color: #b1b1b1;
  margin-top: 16px;
}
/* End Right Side */
/* End Content */
