/* Start Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #0b2248;
  --main-color-alt: #11274b;
  --text-main-color: #2b3749;
  --text-main-color-tertiary: #42576e;
  --main-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Devices */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Devices */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Devices */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

@keyframes cir-up {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-1740px);
  }
}

@keyframes cir-down {
  0% {
    transform: translateY(-1740px);
  }

  100% {
    transform: translateY(0);
  }
}

/* End Animation */

.full-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Start Form */
.full-layout .login-section {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-section .welcome-msg {
  padding-bottom: 16px;
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.01em;
}

.login-section .new-acc {
  font-size: 14px;
}

.login-section .new-acc span a {
  cursor: pointer;
  /* color: #245ab1; */
  font-weight: 600;
  letter-spacing: 0.01em;
  color: rgb(44, 34, 250);
}

.login-section .new-acc span a:hover {
  color: #3e71c4;
}

.login-section .login-form form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-section .login-form input {
  width: 350px;
  padding: 18px;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  outline: none;
}

.login-section .login-form input[type="submit"] {
  background-color: black;
  color: white;
  font-size: 15px;
  margin-top: 30px;
  padding: 16px 20px;
  border: none;
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
}

.login-section .login-form input:focus {
  border: 1px solid #3f5ea0;
}

.login-section .separator {
  position: relative;
  text-align: center;
  margin: 20px 0;
}
.login-section .separator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  height: 1px;
  width: 100%;
  background: #a1a1a1;
  z-index: -1;
}

.login-section .separator .text {
  background: white;
  padding: 0 15px;
  position: relative;
  font-size: 16px;
  color: #333;
}

.google-login-btn,
.facebook-login-btn {
  display: flex;
  position: relative;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  gap: 10px;
  padding: 18px;
  margin-bottom: 12px;
  background-color: #fff;
  border: 1px solid #cecece;
  border-radius: 25px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: 0.1s ease;
}

.google-login-btn:hover,
.facebook-login-btn:hover {
  border: 1px solid #3e71c4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.google-login-btn:active,
.facebook-login-btn:active {
  background-color: #eee;
}

/* End Form */

/* Start Login Decoration */
.full-layout .decoration-section {
  background-color: var(--main-color);
  flex-basis: 40%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.full-layout .decoration-section div span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  width: 120px;
  height: 120px;
  background-color: #245ab1;
  border-radius: 50%;
}

.full-layout .decoration-section div span i {
  color: white;
  font-size: 40px;
}

.full-layout .decoration-section div.cir1,
.full-layout .decoration-section div.cir3 {
  animation: cir-up 36s linear infinite;
}

.full-layout .decoration-section div.cir2 {
  transform: translateY(-145px);
  animation: cir-down 38s linear infinite;
}

/* End Login Decoration */
