/* Start Global Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #0b2248;
    --second-color: #23cedb;
    --main-color-alt: #11274b;
    --second-color-alt: #38d0db;
    --main-transition: .3s;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-family: "cairo", sans-serif;
}

/* Small Devices */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Devices */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Devices */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start Animation */



/* End Animation */

.full-layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
}


/* Start Form */
.full-layout .signup-section {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.full-layout .signup-section .welcome-msg span {
    color: #23cedb;
}
.signup-section .signup-form input{
    display: block;
    min-width: 300px;
    padding: 12px;
    margin-top: 20px;
    border-radius: 8px;
    border: .1px solid rgba(0, 0, 0, 0.432);
    font-size: 12px;
    outline: none;
}
.signup-section .signup-form input[type='submit'] {
    background-color: var(--second-color);
    color: white;
    font-size: 16px;
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    width: 120px;
    border-radius: 20px;
}
/* Start Signup Decoration */
.full-layout .decoration-section {
    background-color: var(--main-color);
    flex-basis: 40%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

/* End Login Decoration */